.frame {
    outline: none;
    border: none;
    color: white;
    border-radius: 100vw;
    padding: 16px 32px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 150ms ease-in-out;
}

.primary {
    background-color: var(--primary);
}

.secondary {
    color: var(--primary);
    background-color: var(--secondary);
}

.disabled {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: not-allowed;
}